@page "/weather"
@using Portfolio.Shared.Services
@inject WeatherService WeatherService
<h3>Weather</h3>

@if (double.IsNaN(CurrentTempC))
{
    <p>Loading or failed to load temperature...</p>
}
else
{
    <p>Current Temp (°C): @CurrentTempC</p>
    <p>Current Temp (°F): @CurrentTempF</p>
}

@code {


    private double CurrentTempC;
    private double CurrentTempF;

    protected override async Task OnInitializedAsync()
    {
        // Get the temperature in Celsius
        CurrentTempC = await WeatherService.GetCurrentTemperatureAsync();

        // Convert to Fahrenheit
        if (!double.IsNaN(CurrentTempC))
        {
            CurrentTempF = CurrentTempC * 1.8 + 32;
        }
    }
}