   @page "/weather"
   @using Portfolio.Shared.Services
   @inject WeatherService WeatherService
<h3>Weather</h3>

@if (IsLoading)
{
    <p>Loading temperature...</p>
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p class="text-danger">@ErrorMessage</p>
}
else if (CurrentTempC != null)
{
    <p>Current Temp (°C): @CurrentTempC</p>
    <p>Current Temp (°F): @CurrentTempF</p>
}

@code {
    private double? CurrentTempC;
    private double? CurrentTempF;
    private string ErrorMessage;
    private bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Get the temperature in Celsius
            CurrentTempC = await WeatherService.GetCurrentTemperatureAsync();

            // Convert to Fahrenheit
            if (CurrentTempC.HasValue)
            {
                CurrentTempF = CurrentTempC * 1.8 + 32;
            }
        }
        catch (Exception ex)
        {
            // Set the error message for the user
            ErrorMessage = "An error occurred while getting the temperature.";
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
        finally
        {
            IsLoading = false;
        }
    }
   }
